@page "/Conseil_de_securite"
<head>
    ...
    <link rel="stylesheet" href="Conseil_de_securite.css">
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="title text-center mt-5">Conseils de sécurité pour votre voyage</h1>

            <p class="intro text-center">
                Bienvenue sur notre page de conseils de sécurité pour voyager en covoiturage. Assurez-vous d'avoir un voyage agréable et sûr en suivant ces recommandations.
            </p>     

            <div class="content">
                <h2     class="subtitle">Conseils généraux</h2>
                <ul class="list-group">
                    <li class="list-group-item">Vérifiez le profil du conducteur avant d'accepter un trajet.</li>
                    <li class="list-group-item">Informez un proche de votre itinéraire et l'heure approximative d'arrivée.</li>
                    <li class="list-group-item">Assurez-vous que le véhicule est en bon état et que le conducteur est sobre.</li>
                </ul>

            </div>
        </div>
    </div>
</div>
        
@code {
    private void NavigateToContact()
    {
    }
}