@page "/"

<head>
    <link rel="stylesheet" href="css/index.css" />
</head>

<div class="banner-container">
    <div class="search-bar">
        <div class="input-group">
            <InputText class="form-control" placeholder="Départ" @bind-Value="searchDeparture" />
            <span class="input-group-text">
                <i class="fa fa-map-marker-alt"></i>
            </span>
        </div>
        <div class="input-group">
            <InputText class="form-control" placeholder="Arrivée" @bind-Value="searchDestination" />
            <span class="input-group-text">
                <i class="fa fa-map-marker-alt"></i>
            </span>
        </div>
        <div class="input-group">
            <input type="date" class="form-control" placeholder="jj/mm/aaaa" @bind="searchDate" />
        </div>
        <div class="input-group">
            <InputNumber class="form-control" min="1" max="8" @bind-Value="selectedNumberOfPersons"></InputNumber>
            <span class="input-group-text">
                <i class="fa fa-user"></i>
            </span>
        </div>
        <button class="btn btn-custom" @onclick="Search">Rechercher</button>
    </div>
</div>

<main>
    <!-- Section Offre de Bienvenue -->
    <section class="welcome-offer" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h1>Profitez de -20% sur vos 5 premiers voyages</h1>
            <p>Rejoignez la communauté CoVoyageur maintenant et économisez sur vos premiers trajets. Ne ratez pas cette occasion unique !</p>
            <button class="btn btn-custom">Découvrir</button>
        </div>
        <img src="https://via.placeholder.com/150" alt="Image de promotion CoVoyageur" style="order: 2;">
    </section>

    <!-- Section CoVoyageur Prime -->
    <section class="prime-carpooling" style="display: flex; justify-content: space-between; align-items: center;">
        <img src="https://via.placeholder.com/150" alt="Image de Prime Carpooling" style="order: -1;">
        <div>
            <h2>CoVoyageur Prime à 9.99€/mois</h2>
            <p>Bénéficiez de réductions sur vos voyages et d'avantages exclusifs pour les conducteurs en rejoignant CoVoyageur Prime.</p>
            <button class="btn btn-custom">En savoir plus</button>
        </div>
    </section>

    <!-- Section Itinéraires Populaires  -->
    <section class="popular-routes">
        <div class="container">
            <h2>Itinéraires Populaires</h2>
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <div>Paris - Marseille</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <div>Lyon - Bordeaux</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <div>Lille - Nantes</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <div>Toulouse - Nice</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section CoVoyageur Bus -->
    <section class="bus-section" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h2>Découvrez les Grandes Villes et Aéroports avec CoVoyageur Bus</h2>
            <p>Explorez les grandes villes et facilitez vos déplacements vers les aéroports grâce à notre service CoVoyageur Bus. Confort et commodité à votre service.</p>
            <button class="btn btn-custom">Voir les bus</button>
        </div>
        <img src="https://via.placeholder.com/150" alt="Image de CoVoyageur Bus" style="order: 2;">
    </section>

    <!-- Section Conseils de Sécurité -->
    <section class="safety-tips" style="display: flex; justify-content: space-between; align-items: center;">
        <img src="https://via.placeholder.com/150" alt="Image de sécurité" style="order: -1;">
        <div>
            <h2>Engagement et Conseils pour votre Sécurité</h2>
            <p>Priorisez votre sécurité lors de vos voyages avec nos conseils et directives. Voyagez en toute tranquillité d'esprit avec CoVoyageur.</p>
            <a href="Conseil_de_securite">
                <button class="btn btn-custom">Lire les conseils</button>
            </a>
        </div>
    </section>


</main>

<footer>
    <nav>
        <a href="#">À propos de Covoyage</a>
        <a href="#">FAQ</a>
        <a href="#">Contactez-nous</a>
    </nav>
</footer>

@code {
    private string searchDeparture;
    private string searchDestination;
    private DateTime? searchDate;
    private int selectedNumberOfPersons = 1;

    private void Search()
    {

    }
}